.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 5px;
    text-align: center;
    margin: 15px 50px;
    border-bottom: 1px solid black;
}

#ativo {
    border-bottom: solid 1px black;
}

#ativo:hover {
    color: #48B508;
}

.logo-pequena{
    border: none;
}

.logo-pequena{
    border: none;
    
}

.link-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 5px 20px;
    width: 100px;
    border-radius: 5px;
}

.ecoponto-menu:hover
{
    color:green;
}



.link-menu:hover{
    border-bottom: 1px solid black;
    transition: 0.9s ease;
}

.imagem{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-image: url(../assets/banner.png);
    width: 94%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}



.divisao{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    /* margin: 20px; */
    
}

.texto1 {
    margin: 10px;
    padding: 10px;
    height: 70vh;
    width: 45%;
    font-size: 1.2em;
}

.texto2{
    margin: 10px;
    padding: 10px;
    height: 70vh;
    width: 45%;
    font-size: 1.2em;
}

.baixo{
    margin: 10px 66px;
    padding: 10px;
    height: 30vh;
    width: 91%;
    display: flex;
    font-size: 1.2em;
}

.negrito {
    font-weight: 700;
}