body {
    overflow-x: hidden;
}

.negrito {
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 5px;
    text-align: center;
    margin: 15px 50px;
    border-bottom: 1px solid black;
}

#ativo {
    border-bottom: solid 1px black;
}

.logo-pequena{
    border: none;
}

.link-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 5px 20px;
    width: 100px;
    border-radius: 5px;
}

.ecoponto-menu:hover
{
    color:green;
}

.link-menu:hover{
    border-bottom: 1px solid black;
    transition: 0.9s ease;
}

section.slider{
    margin: 0 auto;
    width: 70%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    box-shadow: 5px 5px 5px black;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 200px;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff0054;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #ff0054;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}


.implementacao {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    gap: 20px;
}

.video {
    box-shadow: 5px 5px 5px black;
}

.texto-implementacao {
    width: 50%;
}

.funcionalidade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.video-funcionalidade {
    width: 90%;
    height: 500px;
    margin-top: 150px;
    box-shadow: 5px 5px 5px black;
}   
