.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 5px;
    text-align: center;
    margin: 15px 50px;
    border-bottom: 1px solid black;
}

#ativo {
    border-bottom: solid 1px black;
}

.logo-pequena{
    border: none;
}

.link-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 5px 20px;
    width: 100px;
    border-radius: 5px;
}

.ecoponto-menu:hover
{
    color:green;
}

.link-menu:hover{
    border-bottom: 1px solid black;
    transition: 0.9s ease;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto1 {
    margin: 15px 66px;
    padding: 10px;
    height: 32vh;
    width: 91%;
    display: flex;
    font-size: 1.2em;
}

.divisao-textos {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.texto2 {
    margin: 10px;
    padding: 10px;
    height: 69vh;
    width: 45%;
    font-size: 1.2em;
}

.texto3 {
    margin: 10px;
    padding: 10px;
    height: 69vh;
    width: 45%;
    font-size: 1.2em;
}

.negrito {
    font-weight: 700;
}