body {
    overflow-x: hidden;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 5px;
    text-align: center;
    margin: 15px 50px;
    border-bottom: 1px solid black;
}


.logo-pequena{
    border: none;
    
}

.link-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 5px 20px;
    width: 100px;
    
    border-radius: 5px;
}

.ecoponto-menu:hover
{
    color: green;
}

.link-menu:hover{
    border-bottom: 1px solid black;
    transition: 0.9s ease;
}

.imagem{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-image: url(../assets/banner.png);
    width: 94%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.frase {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.frase p {
    width: 30%;
}

.divisao{
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 150px;
}

.logo-grande {
    height: 300px;
}

.divisao p {
    width: 37%;
    height: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisao a {
    color: black;
    font-weight: 700;
}


section.slider{
    margin: 0 auto;
    width: 70%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 8%;
}

.nav-manual {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 200px;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff0054;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4{
    background-color: #ff0054;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

#radio4:checked ~ .primeiro{
    margin-left: -75%;
}

.perguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-top: 150px;
    gap: 50px;
}

.perguntas a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-left: 100px;
    margin-bottom: 150px;
}

.texto-perguntas {
    text-align: center;
    width: 300px;
}

.texto-perguntas:hover {
    background-color: black;
    color: white;
    transform: 0.2s ease;
}